[submodule "package/tensorflow/src"]
	path = package/tensorflow/src
	url = https://github.com/wireless-road/tensorflow
[submodule "package/detector/src"]
	path = package/detector/src
	url = https://github.com/soylent-io/detector.git
	branch = m2m
